<div class="container">
	<section class="about row" id="about">
		<div class="background text-center col-md-6">
			<div class="about-brief">
				<p>My name is <strong>Lina</strong> (vietnamese:Thu Linh Nguyen), and I love to <strong>code</strong>, alongside I'm into travelling, discovering new places and taking good photos.</p>
				<p>My first lines of code were written even when I was at high school. </p>
				<p>In 2014 I decided to move to US, it's a big opportunity for me to become independent from parents, so to start a new life I decided to take a <strong>Web Development</strong> course at Thinkful. Now after graduation I'm excited to put my skills to use and also develop them.</p>
				<p>I'm a fast learner with extremely high passion for code, ready for relocation, so check out my <a href="#projects" class="navpoint">projects</a> and let's get in <strong>touch!</strong> </p>
				<hr class="hr-small">
				<p>My skills: HTML, CSS, JavaScript, jQuery, AngularJS, AJAX, Sass, Node.js, Express, MongoDB, Git.</p>
			</div>
		</div>
		<div class="img-container col-md-offset-1 col-md-5">
			<img class="my-img img-responsive img-thumbnail" src="img/me.jpg" alt="me">
		</div>
	</section>
</div>