<div class="container">
<section class="projects" id="projects">
	<div class="project">
		<div class="row">
			<div class="col-md-5 project-desc">
				<h4 class="project-name text-center">Tic Tac Toe</h4>
				<div class="project-brief">
					<p>This is a chatroom with tic tac toe game inside, made with Node socket.io. You can do messaging and invite others to play tic tac toe game.</p>
					<p>Skills used: Node.js, socket.io, Angular.js</p>
				</div>
				<div class="project-links">
					<a href="https://pacific-beach-72367.herokuapp.com/" target="_blank"><button class="link-btn">
						Demo
					</button></a>
					<a href="https://github.com/kissa1001/chatroom-v2" target="_blank"><button class="link-btn">
						Source <i class="fa fa-code" aria-hidden="true"></i>
					</button></a>
				</div>
			</div>
			<div class="col-md-7 project-thumb">
				<img class="img-responsive project-img" src="img/tictactoe.png" alt="project1">
			</div>
		</div>
	</div>
	<div class="project">
		<div class="row">
			<div class="col-md-5 project-desc">
				<h4 class="project-name text-center">Tech Blog</h4>
				<div class="project-brief">
					<p>This is a blog project where you can read, post and delete blogs.</p>
					<p>Skills used: Node.js, Express, MongoDB, Angular.js</p>
				</div>
				<div class="project-links">
					<a href="https://gentle-badlands-46830.herokuapp.com/" target="_blank"><button class="link-btn">
						Demo
					</button></a>
					<a href="https://github.com/kissa1001/Angular-Tech-Blog" target="_blank"><button class="link-btn">
						Source <i class="fa fa-code" aria-hidden="true"></i>
					</button></a>
				</div>
			</div>
			<div class="col-md-7 project-thumb">
				<img class="img-responsive project-img" src="img/tech-blog.png" alt="project1">
			</div>
		</div>
	</div>
	<div class="project">
		<div class="row">
			<div class="col-md-5 project-desc">
				<h4 class="project-name text-center">Cities Battle</h4>
				<div class="project-brief">
					<p>This app compares cities based on scores across various different categories from teleport.org, also Yelp, Flickr, Google Map Static and Youtube APIs are used.</p>
					<p>Skills used: AngularJS, HTML, CSS</p>
				</div>
				<div class="project-links">
					<a href="http://kissa1001.github.io/city-comparison" target="_blank"><button class="link-btn">
						Demo
					</button></a>
					<a href="https://github.com/kissa1001/city-comparison" target="_blank"><button class="link-btn">
						Source <i class="fa fa-code" aria-hidden="true"></i>
					</button></a>
				</div>
			</div>
			<div class="col-md-7 project-thumb">
				<img class="img-responsive project-img" src="img/city-comp.png" alt="project1">
			</div>
		</div>
	</div>
	<div class="project">
		<div class="row">
			<div class="col-md-5 project-desc">
				<h4 class="project-name text-center">Insta Weather</h4>
				<div class="project-brief">
					<p>This is the app that uses Instagram API and Open Weather Map API that shows you which country has which weather with instagram photos.</p>
					<p>Skills used: AJAX, Handlebars.js, jQuery</p>
				</div>
				<div class="project-links">
					<a href="http://kissa1001.github.io/InstaWeather" target="_blank"><button class="link-btn">
						Demo
					</button></a>
					<a href="https://github.com/kissa1001/InstaWeather" target="_blank"><button class="link-btn">
						Source <i class="fa fa-code" aria-hidden="true"></i>
					</button></a>
				</div>
			</div>
			<div class="col-md-7 project-thumb">
				<img class="img-responsive project-img" src="img/insta-weather.png" alt="project1">
			</div>
		</div>
	</div>
</section>
</div>